@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

label[for="file"] {
    height: 300px;
    width: 80vw;
    margin: 25px auto;
    max-width: 80vw;
    padding: 0 100px;
}

.file-types {
    max-width: 15vw !important;
}