@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

label[for="file"] {
    height: 150px;
    width: 100%;
    margin: 50px auto;
    padding: 0 100px;
    max-width: 100%;
}

progress {
    background-color: red !important;
}